.Header

  &__userInfo
    color: headerText
    float: right
  
  &__exit-link
    margin: 0 0 0 15px

  unquote("@media screen and (max-width: " + desktopWidth + ") {")
  &
    padding: 0 10px
  unquote("}")

.Content
  padding: 25px 50px 0 50px

  &__container
    background-color #fff
    padding 24px
    min-height 280px

  unquote("@media screen and (max-width: " + desktopWidth + ") {")
  &
    padding: 0

  &__container
    padding 15px 10px
  unquote("}")

.Footer
  text-align: center