.NewsList

  &__news-text
    color colorGray

  &__popover-snipet
    max-width 500px

  &__avatar
    background-color #fff

  &__avatar-icon
    color colorLink
    font-size 1.4rem
  
  &__avatar-icon:hover
    color colorLinkHover 
    cursor pointer
  
  &__titles-group
    margin-left 5%

  &__loader
    text-align center