html {
  font-size: 100%;
}
body {
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
button:disabled {
  opacity: 0.5;
}
.Login {
  margin-top: 10%;
}
.Login__title {
  margin: 0 0 1.5rem 0;
  text-align: center;
}
.Login__button-row {
  text-align: center;
}
.Login__login-button {
  width: 50%;
}
.Header__userInfo {
  color: #fff;
  float: right;
}
.Header__exit-link {
  margin: 0 0 0 15px;
}
@media screen and (max-width: 1024px) {
.Header {
  padding: 0 10px;
}
}
.Content {
  padding: 25px 50px 0 50px;
@media screen and (max-width: 1024px) {
}
}
.Content__container {
  background-color: #fff;
  padding: 24px;
  min-height: 280px;
}
@media screen and (max-width: 1024px) {
.Content {
  padding: 0;
}
.Content__container {
  padding: 15px 10px;
}
}
.Footer {
  text-align: center;
}
.ClusterTitle .ant-comment-inner {
  padding: 8px 0;
}
.ClusterTitle__title {
  color: #808080;
}
.NewsList__news-text {
  color: #808080;
}
.NewsList__popover-snipet {
  max-width: 500px;
}
.NewsList__avatar {
  background-color: #fff;
}
.NewsList__avatar-icon {
  color: #1890ff;
  font-size: 1.4rem;
}
.NewsList__avatar-icon:hover {
  color: #40a9ff;
  cursor: pointer;
}
.NewsList__titles-group {
  margin-left: 5%;
}
.NewsList__loader {
  text-align: center;
}
.SearchForm__container {
  margin: 1rem 0;
}
.SearchGroups__queries-table {
  margin-bottom: 1rem;
}
.TagsCloud__loader {
  text-align: center;
}
.Timeline__label:hover {
  cursor: pointer;
}
