@import './variables.styl'

html 
  font-size 100%

body
  background-color: #f0f2f5
  margin 0
  padding 0
  font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif
  line-height 1.5

button:disabled
  opacity 0.5

@import '../containers/**/*'